# Watsonx.ai
WATSONX_APIKEY=
WATSONX_URL=https://eu-de.ml.cloud.ibm.com
LLM_MODEL_ID=ibm/granite-20b-multilingual
EMBED_MODEL_ID=ibm/slate-125m-english-rtrvr

# Elasticsearch serverless
ES_URL=
ES_API_KEY=
ES_INDEX=rag-documents
