# Watsonx.ai
WATSONX_API_KEY=twoj_api_key
WATSONX_URL=https://eu-de.ml.cloud.ibm.com
LLM_MODEL_ID=meta-llama/Llama-4-Maverick-17B-128E-Instruct-FP8
EMBED_MODEL_ID=intfloat/multilingual-e5-large
WATSONX_PROJECT_ID=twoj_project_id

# Elasticsearch serverless
ES_URL=
ES_API_KEY=
ES_INDEX=rag-documents
